<!DOCTYPE html>
<meta charset="utf-8">
<title>spacet.me Labs</title>
<meta name="description" content="spacet.me Labs is @dtinth's playground with Web APIs.">
<meta property="og:description" content="spacet.me Labs is @dtinth's playground with Web APIs.">
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet" />
<%= stylesheet_link_tag "css" %>
<meta name="viewport" content="initial-scale=1">
<body>

<div id="deoverflower">
<div id="everything">

<div class="spacer"></div>

<div class="perspective">
  <div class="box">
    <h1>Welcome to spacet<span class='the-dot'>.</span>me Labs</h1>
  </div>
</div>

<div class="container">

<div class="perspective">
  <div class="box">
    <p class="tagline">
      spacet<span class="the-dot">.</span>me Labs is <span style="color: #8b8685">@</span><a style="color: #d7fc70; text-decoration: none" href="https://dt.in.th">dtinth</a>'s playground
      showcasing many small experiments using Web APIs.
    </p>
  </div>
</div>

<% data.experiments.reject(&:hidden).each do |experiment| %>

<div class="perspective">
  <div class="box">
    <div class="experiment">
      <% if experiment.url %>
        <h2><a href="<%= experiment.url %>"><%= experiment.name %></a></h2>
      <% else %>
        <h2><%= experiment.name %> <small>(coming soon)</small></h2>
      <% end %>
      <p><%= experiment.description %></p>
      <ul class="items">
        <% experiment.technologies.each do |name| %>
          <li><a href="<%= data.technologies[name].url %>"><%= name %></a></li>
        <% end %>
        <% if experiment.project %>
          <li><a href="https://github.com/<%= experiment.project %>">&rarr; GitHub</a></li>
        <% end %>
        <% if experiment.date %>
          <li class="date">Released: <%= experiment.date %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% end %>

<!-- div class="perspective">
  <div class="box">
    <div class="about">
      <h2>About</h2>
      <p>spacet<span class="the-dot">.</span>me Labs makes web applications
      that utilizes cutting edge HTML5 technologies.
      It contains one member, <a href="http://dt.in.th/">Thai Pangsakulyanont</a>.</p>
    </div>
  </div>
</div -->

</div>

<div class="spacer"></div>

</div>
</div>

<%= javascript_include_tag 'perspective' %>

</body>

